@import "tailwindcss";

@theme {
  --color-page: #01080e;
  --color-surface: #171d1f;
  --color-primary: #81fe88;
  --color-input: #888888;
  --color-offwhite: #e1e1e1;
  --color-muted: #bcbcbc;
  --color-shape: #07161c;
  --font-sans: "Prompt", sans-serif;
}

body {
  @apply bg-page font-sans text-offwhite;
  margin: 0;
}
